html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100vh;
  height: 100vh;
}

.button-container {
  width: 100vh;
  height: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-top: 150px;
}

.btn {
  width: 20%;
  height: 20%;
}

.results-container {
  width: 100vh;
  height: 15%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.score {
  font-size: 1.2rem;
}

.round-status-container {
  display: flex;
  justify-content: center;
  height: 5%;
}

.end-result-container {
  display: flex;
  justify-content: center;
  margin-top: 3%;
}
