html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 600px;
  height: 600px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.btn {
  width: 20%;
  height: 20%;
}
